.root {
    -fx-padding: 20px;
    -fx-hgap: 20px;
    -fx-vgap: 40px;
}

.title {
    -fx-font-size: 18pt;
}

.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

.list-cell {
    -fx-padding: 5px;
}