.headerBox {
    -fx-background-color: -fx-background-medium;
    -fx-padding: 10px;
    -fx-alignment: center;
}

.headerBox:invalid {
	-fx-background-color: -fx-red;
}

.header-label {
    -fx-font-family: Calibri;
    -fx-font-size: 15pt;
    -fx-font-weight: bold;
    -fx-text-fill: #091833;
}

.list-view {
    -fx-background-color: -fx-background-light;
}

.list-cell {
    -fx-padding: 10px;
}