.mainPane {
    -fx-background-color: #6395F2;
    -fx-alignment: center;

}

.labelTitle {
    -fx-font-size: 20;
    -fx-font-family: "Arial Black";
    -fx-padding: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

