.mainPane {
    -fx-background-color: -fx-background-dark;
    -fx-alignment: center;

}

.labelTitle {
    -fx-font-size: 20;
    -fx-font-family: "Lucida Sans Unicode";
    -fx-padding: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-background-light;
}

