
.taskBox {
	-fx-border-radius: 10px;
	-fx-border-width: 1px;
	-fx-border-color: white;

	-fx-background-radius: 10px;
	-fx-background-color: #FEEC86;
	
	-fx-padding: 10px;
}

.taskBox:finished {
	-fx-background-color: -fx-green;
	-fx-text-fill: #1B3309;
}

.taskBox:much-time-left {
	-fx-background-color: -fx-yellow;
}

.taskBox:few-time-left {
	-fx-background-color: -fx-orange;
}

.taskBox:no-time-left {
	-fx-background-color: -fx-red;
}
 
.title {
	-fx-font-size: 14pt;
	-fx-font-style: bold;	
}

.button {
	-fx-background-color: rgba(255, 255, 255, 0.5);
	-fx-font-size: 14pt;
}


